# LIST

In [1]:
lt = ["Bharath" , 20 , 23.4 ]

In [3]:
lt         # Printing what list lt contain

['Bharath', 20, 23.4]

In [5]:
lt1 = ["Siva" , 23 , 45.4 , [1,2,3]]     # The list with sub list

In [6]:
lt1

['Siva', 23, 45.4, [1, 2, 3]]

In [7]:
# Accessing the elements from the list

lt[1]

20

In [8]:
# Accessing the elements from the sublist

lt1[3][1]

2

In [9]:
# Append

lt.append("Reddy")

In [10]:
lt      # After adding the value(Append method is used to add the value at the last of the list)

['Bharath', 20, 23.4, 'Reddy']

In [11]:
# If we want to insert the values at the middle or the at any place of the list then we use insert method

lt.insert(2,"Student")

In [13]:
lt          #Student is inserted at the 2nd position

['Bharath', 20, 'Student', 23.4, 'Reddy']

In [23]:
lt.count(2) # Count function is used to count the given thing in the list and gives how many times it apperead in the list

0

In [24]:
lt.extend(["1","2"])        # Extend function is used extend the list

In [25]:
lt

['Bharath', 20, 'Student', 23.4, 'Reddy', '1', '1', '2']

In [26]:
lt.pop()     # Pop is used to pop the last value of the list if there is nothing place inside the function

'2'

In [29]:
lt.pop(2)    # The element present inside the list at the 2nd position will be poped

23.4

In [30]:
lt

['Bharath', 20, 'Reddy', '1', '1']

In [33]:
lt.reverse()    # Reverse function is used to reverse the list

In [34]:
lt

['Bharath', 20, 'Reddy', '1', '1']

In [36]:
# Sort function is used when the list only contains the numbers or only the strings

#                      DICT

In [68]:
dt = {"Name" : "BharathReddy" , "Age" : "17" , "Proffesion" : "Student" , "Emailid" : "bharathreddy7@gmail.com"}

In [69]:
dt

{'Name': 'BharathReddy',
 'Age': '17',
 'Proffesion': 'Student',
 'Emailid': 'bharathreddy7@gmail.com'}

In [70]:
dt.get('Name')

'BharathReddy'

In [71]:
dt.items()     #Items function is used to get the items in the dictionary

dict_items([('Name', 'BharathReddy'), ('Age', '17'), ('Proffesion', 'Student'), ('Emailid', 'bharathreddy7@gmail.com')])

In [72]:
dt.keys()     #This fuction is used to get the keys from the dictionary

dict_keys(['Name', 'Age', 'Proffesion', 'Emailid'])

In [74]:
dt.pop('Emailid')      #This function is used to pop the given key and the value

'bharathreddy7@gmail.com'

In [75]:
dt

{'Name': 'BharathReddy', 'Age': '17', 'Proffesion': 'Student'}

In [81]:
dt.values()

dict_values(['BharathReddy', '17', 'Student'])

# SETS

In [1]:
# Sets contain unique data

st = {"Bharath" , "Reddy" , 1 , 2 , 3 , 1 , 2 , 5 , 6 , 4 , 3 , "Student"}

In [3]:
st       # Sets only store unique data so the elements which are double are not printed

{1, 2, 3, 4, 5, 6, 'Bharath', 'Reddy', 'Student'}

In [4]:
# Creating another set

st1 = {"Reddy" , 1 , 2 , 3}

In [5]:
st1

{1, 2, 3, 'Reddy'}

In [7]:
st1.issubset(st)    # Checking whether the st1 set is subset of st or not

True

In [10]:
st1.difference()

{1, 2, 3, 'Reddy'}

In [14]:
st.add(25)          # add function is used to add the elements

In [15]:
st

{1, 2, 25, 3, 4, 5, 6, 'Bharath', 'Reddy', 'Student'}

In [18]:
st.discard(25)     # Discard function is used to remove the specified elements

In [19]:
st

{1, 2, 3, 4, 5, 6, 'Bharath', 'Reddy', 'Student'}

In [22]:
st.issuperset(st1)    # Checks whether the st is the superset of st1

True

In [23]:
st.union()

{1, 2, 3, 4, 5, 6, 'Bharath', 'Reddy', 'Student'}

In [24]:
st.update()

In [25]:
st

{1, 2, 3, 4, 5, 6, 'Bharath', 'Reddy', 'Student'}

# TUPLE

In [26]:
tp = ("bharathreddy" , "@" , "gamil.com")

In [27]:
tp

('bharathreddy', '@', 'gamil.com')

In [30]:
tp.count('bharathreddy')

1

In [31]:
tp.index("bharathreddy")

0

In [32]:
tp1 = ("bharathreddy" , "@" , "gamil.com" , "bharathreddy")

In [33]:
tp1

('bharathreddy', '@', 'gamil.com', 'bharathreddy')

In [35]:
tp1.count('bharathreddy')        # Count function is used to count how many times the word appers in the tulip

2

# Strings

In [41]:
st = "hello bharath"
print(st)

hello bharath

In [42]:
st

'hello bharath'

In [44]:
st.capitalize()       # Capitalize is a function used to capitalize the 1st character

'Hello bharath'

In [46]:
st.casefold()      # It converts the string into the lower case

'hello bharath'

In [48]:
st.count("a")       # Returns the number of times the value appears in the string

2

In [49]:
st.find("o")        # It finds where the letter present and returns it value

4